<div class="card">
  <div class="grid p-fluid mb-2">

    <div class="col-4">
      <label for="badgeNo">Badge Number <span>(*)</span></label>
      <input
        type="text"
        pInputText
        id="badgeNo"
        name="badgeNo"
        [(ngModel)]="transaction.badgeNo"
      />
    </div>

    <div class="col-4">
      <label for="roomNo">Room Number <span>(*)</span></label>
      <p-dropdown
        [options]="availableRooms"
        [(ngModel)]="selectedRoom"
        id="roomNo"
        name="roomNo"
        optionLabel="roomNo"
        placeholder="Select Room Number"
      ></p-dropdown>
    </div>

    <div class="col-4">
      <label for="bedNo">Bed Number</label>
      <input
        type="text"
        pInputText
        id="bedNo"
        name="bedNo"
        [(ngModel)]="transaction.bedNo"
      />
    </div>

    <div class="col-6">
      <label for="checkInDate">Check-In Date <span>(*)</span></label>
      <p-calendar
        name="checkInDate"
        [(ngModel)]="transaction.checkInDate"
        [showIcon]="true"
         dateFormat="dd.mm.yy"
      ></p-calendar>
    </div>

    <div class="col-6">
      <label for="checkoutDate">Check-Out Date</label>
      <p-calendar
        name="checkOutDate"
        [(ngModel)]="transaction.checkOutDate"
        [showIcon]="true"
         dateFormat="dd.mm.yy"
      ></p-calendar>
    </div>

    <div class="col-4">
      <label for="LeaveStartDt">Leave Start Date</label>
      <p-calendar
        name="LeaveStartDt"
        [(ngModel)]="transaction.leaveStartDate"
        [showIcon]="true"
         dateFormat="dd.mm.yy"
      ></p-calendar>
    </div>

    <div class="col-4">
      <label for="LeaveEndDt">Leave End Date</label>
      <p-calendar
        name="LeaveEndDt"
        [(ngModel)]="transaction.leaveEndDate"
        [showIcon]="true"
         dateFormat="dd.mm.yy"
      ></p-calendar>
    </div>

    <div class="col-4">
      <label for="guestStatus">Guest Status <span>(*)</span></label>
      <p-dropdown
        [options]="guestStatuses"
        [(ngModel)]="selectedGuestStatus"
        name="guestStatus"
        optionLabel="name"
        placeholder="Select Guest Status"
      ></p-dropdown>
    </div>

    <div class="col-12">
      <label for="remarks">Remarks</label>
      <textarea
        id="remarks"
        name="remarks"
        pInputTextarea
        [(ngModel)]="transaction.remarks"
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </div>
</div>

<button
style="margin-top: 12rem;"
pButton
pRipple
label="Save"
icon="pi pi-check"
(click)="saveTransaction()"
></button>