<div class="container">
    <p-button *ngIf="showProject" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editProject()"></p-button>
    <p-button *ngIf="showProject" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteProject()"></p-button>

    <p-button *ngIf="showNationality" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editNationality()"></p-button>
    <p-button *ngIf="showNationality" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteNationality()"></p-button>

    <p-button *ngIf="showInactiveReason" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editInactiveReason()"></p-button>
    <p-button *ngIf="showInactiveReason" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteInactiveReason()"></p-button>

    <p-button *ngIf="showEmployeeCompany" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editEmployeeCompany()"></p-button>
    <p-button *ngIf="showEmployeeCompany" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteEmployeeCompany()"></p-button>

    <p-button *ngIf="showEmployee" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editEmployeeCompany()"></p-button>
    <p-button *ngIf="showEmployee" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteEmployeeCompany()"></p-button>

    <p-button *ngIf="showService" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editService()"></p-button>
    <p-button *ngIf="showService" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteService()"></p-button>

    <p-button *ngIf="showCompany" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editCompany()"></p-button>
    <p-button *ngIf="showCompany" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteCompany()"></p-button>

    <p-button *ngIf="showCamp" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editCamp()"></p-button>
    <p-button *ngIf="showCamp" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteCamp()"></p-button>

    <p-button *ngIf="showCatering" icon="pi pi-check" styleClass="p-button-sm p-button-outlined p-button-success mr-2" (click)="editCatering()"></p-button>
    <p-button *ngIf="showCatering" icon="pi pi-times" styleClass="p-button-sm p-button-outlined p-button-danger" (click)="deleteCatering()"></p-button>
</div>
